<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="{{css_file}}" />
</head>
<body>
    <div id="reviews-list">
        {{#each reviews}}
            <div class="review-item">
                <div class="review-item-image-container">
                    <img loading="lazy" onerror="failLoad(this)" class="review-item-image" src="{{this.author_profile_picture}}" alt="{{this.author_display_name}}" />
                </div>
                <div class="review-item-stack">
                    <div class="review-item-header">
                        <p class="review-item-username">{{this.author_display_name}}</p>
                        <div class="review-item-ratings-row">
                            <div class="review-item-stars-row" data-stars="{{ this.rating }}"></div>
                            <p class="review-item-timestamp">{{ this.timestamp }}</p>
                        </div>
                    </div>
                    <div>
                        <p class="review-item-text">{{this.content}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <script>
        function failLoad(el) {
            el.setAttribute("data-fallback", el.getAttribute("alt").split(" ").map(i => i[0]).join(""))
            console.log(el)
        }

        function createStar(filled) {
            var template = document.createElement("template")
            var starClass = "review-item-star"
            if(filled) {
                starClass = starClass + " filled"
            }
            template.innerHTML = '<svg clip-rule="evenodd" fill-rule="evenodd" class="' + starClass + '" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m11.322 2.923c.126-.259.39-.423.678-.423.289 0 .552.164.678.423.974 1.998 2.65 5.44 2.65 5.44s3.811.524 6.022.829c.403.055.65.396.65.747 0 .19-.072.383-.231.536-1.61 1.538-4.382 4.191-4.382 4.191s.677 3.767 1.069 5.952c.083.462-.275.882-.742.882-.122 0-.244-.029-.355-.089-1.968-1.048-5.359-2.851-5.359-2.851s-3.391 1.803-5.359 2.851c-.111.06-.234.089-.356.089-.465 0-.825-.421-.741-.882.393-2.185 1.07-5.952 1.07-5.952s-2.773-2.653-4.382-4.191c-.16-.153-.232-.346-.232-.535 0-.352.249-.694.651-.748 2.211-.305 6.021-.829 6.021-.829s1.677-3.442 2.65-5.44z" fill-rule="nonzero"/></svg>'.trim()
            return template.content.firstChild
        }

        document.addEventListener("DOMContentLoaded", () => {
            var elements = document.querySelectorAll("div[data-stars]")
            for(var i = 0; i < elements.length; i++) {
                var starAmount = elements[i].getAttribute("data-stars")
                for(var j = 0; j < 5; j++) {
                    elements[i].appendChild(createStar(Number(starAmount) >= (j+1)))
                }
            }
        })
    </script>
</body>
</html>